* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    /* font-family: "Open Sans", sans-serif; */
    font-family: var(--body-font);
    color: var(--darkblue);
}
h1, h2, h3, h4 {
    /* font-family: 'Raleway', sans-serif; */
    font-family: var(--title-font);
}
h1 {
    font-size: 2.8rem;
    font-weight: 600;
}
h2 {
    font-size: 1.8em;
    /* margin: 2em 0 0.8em 0; */
    margin: 0em 0 0.8em 0;
}
p {
    margin-bottom: 1em;
    font-size: 1.2em;
    line-height: 1.5em;
}
a {
    text-decoration: none;
    color: var(--spat);
    cursor: pointer;
}
:root {
    --spat: #7faec5;
    --lg-bg: #fafafa;
    --green: #4ecd5d;
    --darkblue: #384b61;
    --hoverDarkblue: #4a6381;
    --body-font: 'Open Sans', sans-serif;
    --title-font: 'Raleway', sans-serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.6rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --font-medium: 500;
    --font-semi-bold: 600;
}


.image img{
    width: 100%;
    height: 100%;
    background: var(--lg-bg);
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(174, 190, 205, .3);
    object-fit: contain;
}




/* MENU STYLE */
.menu{
    position: fixed;
    width: 100vw;
    height: 4rem;
    z-index: 999;
    
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-around;
    align-items: center;
    
    background: white;
    box-shadow: -1px 0 4px rgba(14, 55, 63, 0.15);
}
.menu ul {
    display: flex;
    list-style: none;
}
.menu ul li a {
    text-decoration: none;
    padding: 1rem 1.5rem;
    color: var(--spat);
    transition: all 0.3s ease;
    font-size: 1.25em;
}
.menu a:hover {
    color: var(--green);
}
/* .mobileMenu ul {
    display: block;
    width: 100%;
    position: fixed;
    top: 4em;
} */


.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.5em;
}

.logo {
    width: 3rem;
    height: 3rem;
}
.logo img {
    width: 100%;
}

button.hamburgerMenu {
    display: none;
    border: unset;
    background: unset;
    font-size: 2em;
    color: var(--darkblue);
    transition: all 0.3s ease;
}
button.hamburgerMenu:hover {
    color: var(--hoverDarkblue);
}
/* END MENU STYLE */



.btn,
.menu a.btn {
    color: white;
    font-size: 1.2em;
    background-color: var(--green);
    border: none;
    border-radius: 4px;
    padding: 0.6em 1em;
    cursor: pointer;
    transition: all 0.3s ease;
}




/* HEADER */
header section {
    padding-right: 6rem;
    padding-left: 6rem;
    padding-top: 4rem;
    /* position: relative; */
    /* display: grid; */
    height: calc(100vh - 4rem);
    background: var(--lg-bg);
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
header h1 {
    margin-top: 2em;
}
header h2 {
    color: var(--spat);
    margin-top: 0;
}



.sliderImage {
    width: 100%;
    height: 50vmin;
    background-color: var(--hoverDarkblue);
}
.slider {
    width: 100%;
    height: 2vmin;
    -webkit-appearance: none;
    background-color: black;
    cursor: pointer;
    transition: all 0.5s ease;
}
.slider:hover {
    background-color: rgb(41, 41, 41);
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--green);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--green);
    cursor: pointer;
  }
/* END HEADER */



/* LINKS */
a#down {
    margin: 0 auto;
    text-decoration: none;
    font-size: 3em;
    color: var(--darkblue);
    transition: all 0.5s ease;
}
a#down:hover {
    transform: translateY(-.25em);
    color: var(--hoverDarkblue);
}
/* END LINKS */





main section {
    padding: 8rem 0 4rem;
    display: flex;
    flex-direction: column; /* zodat de items onder elkaar gaan staan */
    margin: 0 auto;
}
main section:nth-child(even) { /* alle even sections krijgen een lichtgrijze achtergrond */
    background-color: var(--lg-bg);
}
main section .container { /* container als die erom heen zit l r wit ruimte en in midden door margin 0 auto */
    width: 80%;
    margin: 0 auto;
}

section h2 {
    color: var(--spat);
}

.contentBlock {
    margin: 0 auto;
    width: 50%;
}
.contentBlock a {
    margin-top: 1em;
}

.imagesBlock { /* krijgt een grid, waardoor 3 blokken naast elkaar komen */
    margin-top: 4em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr ;
    grid-gap: 4em;
}
.imagesBlock article {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imagesBlock article img {
    margin-bottom: 1em;
}

.imagesBlock .image img {
    width: 70%;
    box-shadow: unset;
    background-color: unset;
}




.whyBrain article{
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 3fr 1fr;
    grid-gap: 2em;
}

.whyBrain ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3em;
    margin-top: 5em;
    align-self: center;
    justify-self: center;
}

.whyBrain ul li {
    background-color: var(--darkblue);
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(174, 190, 205, .3);
    text-align: center;
}
/* .whyBrain ul li a {
    
} */

.whyBrain h3 {
    margin-top: 4em;
    line-height: 1.5em;
}
.whyBrain .image img {
    background: none;
    border-radius: unset;
    box-shadow: unset;
}

/* 
.formWater {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 4em;
    margin-top: 5em;
} */
.contactForm {
    margin-top: 5em;
}
.contactForm .btn {
    width: calc(100% + 0.8em);
    color: white;
    margin-top: 1em;
}
.formGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.contactForm input,
.contactForm textarea {
    font-family: var(--body-font);
    font-size: 1em;
    width: calc(100% - 0.8em);
    padding: 0.8em 0.8em;
    border: none;
    border-bottom: 2px solid var(--lg-bg);
    color: var(--darkblue);
    margin-bottom: 0.5rem;
}
.contactForm textarea {
    min-height: 6em;
}

.waterTon {
    position: absolute;
    right: 0;
    width: 20vw;
}





/* NEWS */
.news {
    position: relative;
}
.news .container > article:nth-child(1) {
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin-bottom: 4em;
}
.newsArticles {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5em 1em;
}
.search {
    width: 100%;
    position: relative;
    display: flex;
    min-height: 3rem;
}
.searchNews .search input{
    border: 2px solid var(--lg-bg);
    border-radius: 4px;
    margin: 0;
}
.searchNews .search button {
    width: 3rem;
    height: 100%;
    border: unset;
    background: #80aec6;
    text-align: center;
    color: #fff;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-size: 20px;
    border-left: 2px solid lightgrey;
    position: absolute;
    right: 0;
}
.searchNews {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.searchNews .filter{
    display: flex;
    justify-content: right;
    align-items: flex-end;
}
.searchNews ul.filter li{
    /* display: inline-block; */
    list-style: none;
    margin-left: 1em;
}
.searchNews ul.filter li:first-child {
    margin-left: unset;
}
.filter button {
    color: #b4b4b4;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1em;
    font-weight: bold;
    transition: all 0.5s ease;
}
.filter button:hover {
    color: #00000085;
}
.filter button.active,
.filter button:active {
    font-weight: bold;
    color: black;
}

.newsArticles .item {
    cursor: pointer;
}
.newsArticles article {
    position: relative;
    width: 100%;
    min-height: 45vmin;
    background: var(--lg-bg);
    border-radius: 1em;

    overflow: hidden;

    box-shadow: 0 4px 6px rgba(174, 190, 205, .3);

    /* voor animatie */
    transition: all 0.5s ease;
}
.newsArticles article:hover {
    transform: translateY(-.75em)
}
.newsArticles article img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.newsArticles article .content{
    position: absolute;
    width: 100%;
    bottom: 1em;
}
.newsArticles article .content h4, 
.newsArticles article .content p {
    padding: 0 1.2em;
    color: white;
    font-size: 1em;
}
/* zorgt ervoor dat je maar 2 zinnen ziet */
.newsArticles article .content p { 
    margin-bottom: 1em;
    overflow: hidden;
    max-height: 50px;
    transition: max-height 0.3s ease-out;
}
.newsArticles article .content p::after {
    content: '...';
    position: absolute;
    bottom: 0;
    left: 1.2em;
}

hr {
    height: 0.2em;
    background-color: var(--lg-bg);
    border: none;
    margin-bottom: 4em;
}

article.popUp {
    display: none;
    position: absolute;
    left: 50%; /* left: 0; */
    /* right: 0; */
    top: 50%;/* top: 0; */
    /* bottom: 0; */
    /* left: 50%; */
    transform: translate(-50%, -50%);
    min-height: 88vh;
    margin: auto;

    /* display flex krijgt de div wanneer er op een news article wordt geklikt */
    flex-direction: column;
    width: 35vw;
    /* height: 80vh; */
    background: var(--lg-bg);
    border-radius: 1em;
    box-shadow: 0 4px 6px rgba(174, 190, 205, .3);
    overflow: hidden;
}   
article.popUp.active {
    display: flex;
}
button.close {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    cursor: pointer;
    border: unset;
    background: black;
    color: white;
    font-weight: bold;
}
.popUp img {
    width: 100%;
    height: 42vh;
    object-fit: cover;
}
.popUp .content {
    padding: 2em;
}
.popUp em {
    font-size: .8em;
    color: grey;
    margin-bottom: .5em;
}
.popUp h4 {
    margin-top: .5em;
}
.popUp p{
    margin-top: 1em;
}
.popUp button {
    position: absolute;
    bottom: 2em;
    font-size: 1em;
}
/* END NEWS */






/* FOOTER */
footer {
    width: 100%;
    background-color: var(--darkblue);
    color: var(--lg-bg);
}

footer > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}
footer p {
    margin: 0;
}

footer ul li {
    list-style: none;
}
footer ul li a {
    color: var(--lg-bg);
}
/* END FOOTER */




/* RESPONSIVE */


@media only screen and (max-width: 1024px) {
    .newsArticles {
        grid-template-columns: repeat(2, 1fr);
    }
    .news .container > article:nth-child(1) {
        grid-template-columns: 1fr;
    }
    .searchNews .filter {
        margin-top: 1.5em;
    }
    .newsArticles article:hover {
        transform: unset;
    }

    .contentBlock {
        width: 80%;
    }
}

@media only screen and (max-width: 730px) {
    /* menu mobiel */
    .menu ul {
        display: none;
        width: 100%;
        position: fixed;
        top: 4em;
        left: 0;
    }
    .show .menu ul, 
    button.hamburgerMenu {
        display: block;
    }
    /* zorgt ervoor dat contact normaal menu item wordt */
    .menu ul li a,
    .menu ul li a.btn {
        text-decoration: none;
        padding: unset;
        color: var(--spat);
        transition: all 0.3s ease;
        font-size: 1.25em;
        background-color: unset;
        width: 100%;
    }
}


/* MOBIEL */
@media only screen and (max-width: 600px) {
    p {
        font-size: 1em;
    }

    .contentBlock {
        width: 100%;
    }

    header section {
        padding-right: 2rem;
        padding-left: 2rem;
    }
    h1 {
        font-size: 2.25em;
    }  
    h2 {
        font-size: 1.75em;
    }  

    .imagesBlock,
    .whyBrain article,
    .formWater,
    .formGrid,
    .newsArticles {
        grid-template-columns: 1fr;
    }

    .formWater img {
        display: none;
    }

    .whyBrain ul {
        grid-template-columns: repeat(2, 1fr);
    }
    .whyBrain ul li {
        width: 32vw;
        height: 32vw;
    }
    .searchNews .filter {
        justify-content: left;
        align-items: center;
    }
    .newsArticles article {
        min-height: 60vmin;
    }
    article.popUp {
        width: 85%;
    }

    .waterTon {
        display: none;
    }

    .formGrid {
        grid-gap: 0;
    }

    .contactForm input, .contactForm textarea {
        margin-bottom: 1.2rem;
    }


}
/* END MOBIEL */



/* END RESPONSIVE */